@import 'base/reset';
@import 'libs/fonts';
@import 'libs/animate';


*{
    font-family: 'Montserrat', sans-serif!important;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active, a:focus { outline: none; }

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
}

.hr {
    background-color: #E0E0E0;
    height: 1px;
    width: 100%;
    margin-bottom: 70px;
}

@import 'blocks/main';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/mobile-applications';
@import 'blocks/standards';
@import 'blocks/our-work';

.active {
    overflow: visible;
    opacity: 1;
    margin-bottom: 30px;
}

@import 'blocks/our-project';
@import 'blocks/video';