@import 'base/reset';
@import 'libs/fonts';


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@import 'blocks/main';
@import 'blocks/menu';
@import 'blocks/button';
