// Misc
$max-width: 800px;
$mobile-width: 600px;
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$cubic-transition: 0.55s $ease-in-out-cubic;

$nav-bar-width: 60px;
$bar-length: 28px;
$bar-thickness: 4px;
$nav-item-delay: 0.05s;

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .our-work__item {
        padding: 0 10px 0 10px;
        img {
            width: 100%;
        }
    }
    .video__player {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 670px;

    }
    .menu {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
    .wrapper-nav {
        overflow: hidden;
        position: relative;
        width: 100%;
        width: calc(100% - #{$nav-bar-width});
        height: 100vh;
        margin-left: $nav-bar-width;
        background-color: $white;
        transition: $cubic-transition;
        transform: scale(1)
                translate3d(0, 0, 0);
        clip-path: inset(0 0 0 0);
        will-change: width, height, opacity, transform, clip-path;
        z-index: 1;
        
        &.is-active {
            overflow: hidden;
            height: 100vh;
            width: 100vw;
            width: calc(100vw - #{$nav-bar-width});
            pointer-events: none;
            opacity: 0.25;
            transform: scale(0.9)
                    translate3d(60%, 0, 0);
            
            @media (min-width: $mobile-width) {
                transform: scale(0.9)
                        translate3d(40%, 0, 0);            
            }
        }
        
        &.is-transition-out {
            clip-path: inset(0 0 0 100%);
        }
    }
    h2 {
        font-size: 32px;
        line-height: 43px;
    }
    .main__title {
        font-size: 40px;
    }
    .mobile-applications {
        &__subtitle {
        margin: 0 auto 60px auto;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            &-circle {
                width: 110px;
                margin-right: 0;
            }
            &-text {
                padding-top: 15px;
                align-items: center;
            }
            &-descr {
                text-align: center;
            }
        }
    }
    .our-work {
        &__header {
            padding-top: 50px;
            flex-direction: column;
        }
        &__h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        &__bg-blue {
            height: 410px;
        }
    }
    .our-project {
        padding: 60px 0 70px 0;
    }
    .our-project__wrapper {
        grid-template-rows: 145px;
        grid-auto-rows: 145px;
    }
    .our-project__h2 {
        margin-bottom: 20px;
    }
    .our-project__descr {
        margin: 0 auto 50px auto;
    }
    .footer__item-title {
        font-size: 15px;
        line-height: 15px;
    }
    .footer__item-link {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
    .main__title {
        font-size: 27px;
        line-height: 38px;
    }
    h2 {
        line-height: 38px;
        font-size: 28px;
    }
    .mobile-applications {
        padding: 85px 0 75px 0;
        &__title {
            margin-bottom: 35px;
        }
        &__item {
            &-title {
                font-size: 16px;
            }
            &-text {
                padding: 15px 5px 0 5px;
            }
        }
        
    }
    .standards {
        padding: 50px 0 50px 0;
        &__items {
            display: block;
            margin-bottom: 40px;
        }
        &__image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__text {
            margin-top: 0;
        }
        &__link {
            display: block;
            text-align: center;
        }
    }
    .hr {
        margin-bottom: 40px;
    }
    .our-work {
        &__items {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }
        &__item {
            margin-bottom: 30px;
        }
        &__descr-scan {
            margin-bottom: 10px;
        }
        &__descr {
            margin-bottom: 10px;
        }
    }
    .our-project {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        img {
            width: 145px;
        }
        &__item {
            justify-self: center;
        }
    }
    .mailing__form {
        grid-template: 45px/290px 190px;
    }
    .footer {
        &__item:nth-child(2), &__item:nth-child(3) {
            display: none;
        }
        &__wrapper {
            grid-template-columns: repeat(2,auto);
            justify-content: space-around;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .main__subtitle {
        font-size: 13px;
    }
    .main__title {
        font-size: 20px;
        line-height: 28px;
    }
    h2 {
        line-height: 22px;
        font-size: 16px;
    }
    .mobile-applications {
        padding: 55px 0 65px 0;
        &__subtitle {
            font-size: 13px;
            line-height: 21px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__services-items {
            flex-direction: column;
            margin-bottom: 45px;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    .standards {
        &__title {
            margin-bottom: 15px;
            text-align: center;
        }
        &__desc {
            font-size: 14px;
            line-height: 20px;
        }
        &__image {
            height: 220px;
        }
        &__items {
            margin-bottom: 20px;
        }
        &__projects-items {
            flex-direction: column;
        }
    }
    .our-work__bg-blue {
        height: 370px;
    }
    .video__btn {
        width: 212px;
        height: 65px;
        padding: 0 20px 0 20px;
        img {
            width: 70%;
        }
    }
    .mailing__form {
        grid-template: 45px 45px/240px;
        row-gap: 20px;
        &-email input {
            border-radius: 30px;
        }
        &-btn button {
            border-radius: 30px;
            width: 240px;
        }
    }
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
}